<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <style>
    body{ 
        background-image: 
        url(https://media2.giphy.com/media/c3UJj3xcwWDd0hML3W/giphy.gif?cid=ecf05e475npcxreed8v6ftwrd3cfxwextnx3kohw8d9k29nu&ep=v1_gifs_search&rid=giphy.gif&ct=g); 
    }
    #movingButton {
      position: absolute;
    }
  </style>
  <title>Date</title>
 
</head>
<body>
  <div class="d-flex justify-content-center my-5">
    <h2>Whose direction sense is good ?</h2>
  </div>
    
   
    <div class="d-flex p-2 bd-highlight mx-auto" style="width: 350px; height: 350px;">
        <img src="static\third.gif">
    </div>
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
        <div class="p-2 bd-highlight"><button type="button" class="btn btn-success btn-lg my-4">
            <a class=" link-light link-offset-2 link-underline link-underline-opacity-0" href="/fourth">Sarita</a>
        </button></div>
        
        <div class="p-2 bd-highlight">
            <button type="button" class="btn btn-danger btn-lg my-4" id="movingButton" onmouseover="moveButton()">Gyana</button>
        </div>
    </div>
   


<script>
    function moveButton() {
      var button = document.getElementById('movingButton');
      var maxX = window.innerWidth - button.clientWidth;
      var maxY = window.innerHeight - button.clientHeight;

      var newX = Math.floor(Math.random() * maxX);
      var newY = Math.floor(Math.random() * maxY);

      button.style.left = newX + 'px';
      button.style.top = newY + 'px';
    }
  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
